
html {
    font-size: 11pt;
}


body {
    background-color: black;
    color: lime;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: lime;
    margin-left: 40px;
}

table {
    border: none;
}

input[type=text] {
    border: 1px;
    border-bottom: 2px groove lime;
    background-color: #000;
    color: lime;
}

input[type=password] {
    border: 1px;
    border-bottom: 2px groove lime;
    background-color: #000;
    color: lime;
}

input[type=submit] {
    color: lime;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-color: lime;
    cursor: pointer;
}

button {
    color: lime;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-color: lime;
    cursor: pointer;
}

input[type=w3-radio] {
    color: lime;
    background-color: #000;
    border-color: lime;
}
    

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.logout {
    background-color: black;
    border: groove;
    border-width: 1px;
    color: lime;
    /*padding: 20px 34px;*/
    text-align: center;
    text-decoration: none;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.logo {
    margin: auto;
    width: auto;
}

.img {
    width: auto;
    height: 250px;
}

.login_table {
    margin: auto;
}

/* --------------  sticky Header BEGIN -------------- */
/* Style the header */
.header_div {
    background: #000;
    position: fixed;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    vertical-align: top;
}

.header_div {
    background: #000;
    position: fixed;
    width: 100%;
    height: 50px;
    vertical-align: top;
}

.header_img {
    width: auto;
    height: 50px;
}


/* --------------  sticky Header END  -------------- */

td {
    text-align: center;
}

.agent_table tr:hover {
    background-color: #8bf171;
    color: #232723;
}

.res_table tr:hover {
    background-color: #8bf171;
    color: #232723;
}

.agent_table {
    display: flex;
    justify-content: left;
    
    margin-top: 50px;
    max-width: max-content;
    border-color: lime;
    border-style: groove;

    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 800px;

}


.option_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: fixed;
    top:0;
    right:0;
    margin-top: 50px;
    max-height: 50%;
    width: 50%;

    border-color: lime;
    border-style: groove;
}

.res_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: fixed;
    top:0;
    right:0;
    margin-top: 150px;
    /* max-height: 50%; */
    width: 50%;

    border-color: lime;
    border-style: groove;
}

/* -------------- addTool.php -------------- */

.addToolContainer {
    border-color: lime;
    border-style: groove;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    align-items: center;
}

/* -------------- updateTool.php -------------- */

.updateContainer {
    border-color: lime;
    border-style: groove;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    align-items: center;
}

/* -------------- addMission.php -------------- */

.addMissionContainer {
    border-color: lime;
    border-style: groove;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

/* -------------- updateMission.php -------------- */

.updateMissionContainer {
    border-color: lime;
    border-style: groove;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
